{{> header}}

<h1 id="login-title">Welcome to your Task Manager</h1>

<img id="login-logo" src="/public/images/login.png" alt="Task Manager Logo">

<h3 id="login-description">Please log in with your username and name. <br> If you don't have one, it will be created automatically.</h3>

<form id="login-form" action="./login" method="POST">
    <label for="name">Enter your name:</label>
    <input type="text" id="login-name" name="name" required>

    <label for="username">Enter your username:</label>
    <input type="text" id="login-username" name="username" required>

    <button id="login-button" type="submit">Login</button>
</form>
