<h1> Welcome to the task-manager </h1>
<h3> Please login with your username and name. If you don't have one, it will be created automatically </h3>

<form action="/login" method="post">
    <label for ="name"> Enter your name:</label>
    <input type ="text" id="name" name = "name" required>

    <label for="username"> Enter your username:</label>
    <input type ="text" id="username" name = "username" required>

    <button type ="submit">Login</button>

</form>